*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --bg:#ffffff;
    --text:#111111;
    --primary:#bccccccc;

}

body{
   
    font-family: sans-serif,arial;
    font-family: bold;
    font-size: 16px;
    font-weight: bold;
    background: var(--bg);
    color:var(--text);
    line-height: 1.6;
    
}

/* theme dark variable */
body.dark{
    --bg:#111111;
    --text:#ffffff;
}
#Toggletheme{
    cursor: pointer;
    font-size: 24px;
}
header{
     background:var(--text);
    /* position: fixed; */
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    gap: 5px;
    color:var(--bg);
    padding: 22px;
}
#wole{
    font-size: 20px;
}
#Stick{
   
    background: darkslateblue;
    padding: 8px;
}
.nav a{
    margin: 0 50px;
    text-decoration: none;
    font-size: 19px;
    color:var(--bg);

    
    
   
}
nav a:hover{
     padding: 8px;
    background: lavender;
}

.hero{
    padding: 20px 80px;
    font-size: 26px;
    text-align:center;
    margin-top: 40px;
  background-image: url(../image/download\ \(2\).png );
    background-position-x: center;
    /* border: #111111; */
    box-shadow: #111111;
    padding: 10%;
    color: #ffffff;
    border-radius: 70px;
    
    
    
    
}
.me{
    margin-top: 20px;
    margin-bottom: 30px;
     background-color:midnightblue;
     width: 600px;
     color: var(--primary);
     border-radius: 20px;
    padding: 20px 80px;
    -webkit-transition: width 2s;
    transition: width 2s height 4s;
}

.me:hover{
    width: 300px;
    height: 100px;
     padding: 20px 80px;
    
}
.portfont{
    font-size: 24px;
    --bg:var(var(--text))
}
.bn2{
   
   padding: 20px;
   background-color:midnightblue;
   font-weight: bold;
   text-decoration: none;
   color: white;
   border-radius: 300px;
   font-size: 24px;
  -webkit-transition: width 2s;
   transition: width 2s height 4s;
  
}
.bn2:hover{
    width: 400px;
    height: 100px;
    color: white;

}
#bn22{
    text-decoration: none;
    color: var(--bg);
}
hr{
    margin-top:30x;
    margin-bottom: 30px;
}

.features{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
    padding: 20px 80px;
    text-align: center;
    padding: 5px;
    
    
}
.features-card{
    border: none;
    border-radius: 10px;
    background: transparent;
    color: var(--primary);
    font-size: 12px;
    padding: 20px 80px;
    /* padding: 20px 80px; */
    -webkit-transition: width 2s;
    transition: width 2s height 4s;
}

.features-card:hover{
   width: 400px;
   height: 200px;
}


.portfolio{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    color: var(--primary);
    margin-top: 20px;
    padding: 20px 80px;
    text-align: center;
    
}

.portfolio-card{
    border: none;
    border-radius: 10px;
    background: transparent;
    color: var(--primary);
    font-size: 16px;
    padding: 20px;
    -webkit-transition: width 2s;
    transition: width 2s height 4s;
    padding: 20px 80px;
    
}

.portfolio-card:hover{
    width: 400px;
   height: 200px;
}

/* .social-handles{
    justify-content: space-between;
    gap: 5px;
    background: var(--text);
    width: 900px;
    -webkit-transition: width 2s ;
    transition: ease-in-out  width 2s;
}
.imgsocial{
    position: fixed;
}

.social-handles:hover{
    width: 400px;
    height: 80px;
} */

#About{
    font-size: 16px;
    padding: 20px;
    margin-bottom: 20px;
    padding: 20px 80px;
}
#imgabt{
    float: right;
    width: 15%;
    height: 5%;
    color: black;
    border-radius: 50%;
    padding: 5px;
    
}
#imgabt2{
    margin-top: 30px;
    color: var(--primary);
}

.social-handles{
    font-size: 25px;
}


#social{
     padding: 20px 80px;
     color: var(--primary);
}

.imgsocial{
    float: right;

   
   
}


.contact{
    margin-bottom: 70px;
    color: var(--primary);
    padding: 20px 80px;
    font-size: 16px;
}
#top,#top1{
    float: right;
   padding: 5px;
    font-weight: bold;
    font-size: 20px;
     background: var(--bg);
    color: var(--primary);
    text-decoration: none;

}
.submit{
    font-size: 16px;
    padding: 12px;
    background: var(--bg);
    color: var(--primary);
}
.submit:hover{
    background: darkgreen;
}

footer{
    margin-top: 50px;
    text-align: center;
}


@media(max-width:650px){

    
    .hero{
        /* padding: 20px 40px; */
        border-radius: 100px;
        background:url(../image/download\ \(3\).png);
        background-position-x:center ;
        
    }
    .me{
       
        padding: 10px 40px;
        width: 350px;

    }
    .features{
        display: block;
        padding: 10px 40px;
    }
    .portfolio{
        padding: 10px 40px;
        display: block;
    }
    .About{
        padding: 10px 40px;
    }

    .imgsocial{
     font-size: 30px;
     
     width: 12%;
    }
}